In [117]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [118]:
orders_df = pd.read_csv('orders.csv')
nodes_df = pd.read_csv('nodes.csv')

In [119]:
nodes_df

                         Id  node_start  node_finish    distance  speed
0      -2627062893189810184    10980432   2133368107   17.414917   32.0
1      -2627062893189810184    10980433   5212387954   17.186539   26.0
2      -2627062893189810184    10980445   5221700954   28.513481   26.0
3      -2627062893189810184    10980498     10980445  154.266122   25.0
4      -2627062893189810184    10980647   1986137911    8.542824   29.0
...                     ...         ...          ...         ...    ...
480286 -8229597404562288405  8952439761    317189358    4.847930   23.0
480287 -8229597404562288405  8952439762   8952439761  131.325685   26.0
480288 -8229597404562288405  8952439763   8952439762   44.026544   38.0
480289 -8229597404562288405  8952439764   8952439763    0.111226   34.0
480290 -8229597404562288405  8952478769   4768348532   91.817457   27.0

[480291 rows x 5 columns]

In [120]:
orders_df.running_time = pd.to_datetime(orders_df.running_time)
orders_df.completed_time = pd.to_datetime(orders_df.completed_time)
orders_df

,Id,running_time,completed_time,route_distance_km,delta_time
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0
1,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0
2,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0
3,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0
4,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0
...,...,...,...,...,...
4995,7096714159023973792,2022-01-24 21:10:38,2022-01-24 21:23:53,7.397,795.0
4996,-3836026425968071806,2022-01-24 15:10:27,2022-01-24 15:20:21,1.948,594.0
4997,2926216435675216636,2022-01-24 13:57:04,2022-01-24 14:03:18,2.547,374.0
4998,-6677307480063489707,2022-01-24 08:46:13,2022-01-24 08:55:34,3.013,561.0
4999,-4845695090750648713,2022-01-24 14:57:46,2022-01-24 15:11:25,2.323,819.0

In [121]:
orders_df['day_time'] = orders_df.running_time.dt.hour
orders_df

,Id,running_time,completed_time,route_distance_km,delta_time,day_time
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0,18
1,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0,6
2,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0,10
3,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0,14
4,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0,11
...,...,...,...,...,...,...
4995,7096714159023973792,2022-01-24 21:10:38,2022-01-24 21:23:53,7.397,795.0,21
4996,-3836026425968071806,2022-01-24 15:10:27,2022-01-24 15:20:21,1.948,594.0,15
4997,2926216435675216636,2022-01-24 13:57:04,2022-01-24 14:03:18,2.547,374.0,13
4998,-6677307480063489707,2022-01-24 08:46:13,2022-01-24 08:55:34,3.013,561.0,8
4999,-4845695090750648713,2022-01-24 14:57:46,2022-01-24 15:11:25,2.323,819.0,14

In [122]:
orders_df['speed'] = orders_df.route_distance_km / orders_df.delta_time * 60
orders_df

,Id,running_time,completed_time,route_distance_km,delta_time,day_time,speed
0,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0,18,0.260325
1,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0,6,0.280956
2,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0,10,0.338443
3,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0,14,0.406667
4,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0,11,0.416778
...,...,...,...,...,...,...,...
4995,7096714159023973792,2022-01-24 21:10:38,2022-01-24 21:23:53,7.397,795.0,21,0.558264
4996,-3836026425968071806,2022-01-24 15:10:27,2022-01-24 15:20:21,1.948,594.0,15,0.196768
4997,2926216435675216636,2022-01-24 13:57:04,2022-01-24 14:03:18,2.547,374.0,13,0.408610
4998,-6677307480063489707,2022-01-24 08:46:13,2022-01-24 08:55:34,3.013,561.0,8,0.322246
4999,-4845695090750648713,2022-01-24 14:57:46,2022-01-24 15:11:25,2.323,819.0,14,0.170183

In [123]:
df = pd.merge(nodes_df, orders_df, on='Id')
df

,Id,node_start,node_finish,distance,speed_x,running_time,completed_time,route_distance_km,delta_time,day_time,speed_y
0,-6374252502568484586,10980422,1570777044,2.232533,34.0,2022-01-24 10:08:14,2022-01-24 10:15:30,2.156,436.0,10,0.296697
1,-6374252502568484586,10980432,2133368107,17.414917,25.0,2022-01-24 10:08:14,2022-01-24 10:15:30,2.156,436.0,10,0.296697
2,-6374252502568484586,10980433,5212387954,17.186843,27.0,2022-01-24 10:08:14,2022-01-24 10:15:30,2.156,436.0,10,0.296697
3,-6374252502568484586,10980467,27128842,20.216909,37.0,2022-01-24 10:08:14,2022-01-24 10:15:30,2.156,436.0,10,0.296697
4,-6374252502568484586,27128842,8952395272,202.754917,35.0,2022-01-24 10:08:14,2022-01-24 10:15:30,2.156,436.0,10,0.296697
...,...,...,...,...,...,...,...,...,...,...,...
401306,-8229597404562288405,8952439761,317189358,4.847930,23.0,2022-01-24 11:48:51,2022-01-24 12:01:38,3.065,767.0,11,0.239765
401307,-8229597404562288405,8952439762,8952439761,131.325685,26.0,2022-01-24 11:48:51,2022-01-24 12:01:38,3.065,767.0,11,0.239765
401308,-8229597404562288405,8952439763,8952439762,44.026544,38.0,2022-01-24 11:48:51,2022-01-24 12:01:38,3.065,767.0,11,0.239765
401309,-8229597404562288405,8952439764,8952439763,0.111226,34.0,2022-01-24 11:48:51,2022-01-24 12:01:38,3.065,767.0,11,0.239765
401310,-8229597404562288405,8952478769,4768348532,91.817457,27.0,2022-01-24 11:48:51,2022-01-24 12:01:38,3.065,767.0,11,0.239765

In [124]:
order_copy = orders_df.copy()
order_copy.index = order_copy['Id']
order_copy

,Id,running_time,completed_time,route_distance_km,delta_time,day_time,speed
Id,,,,,,,
-4773019581999572651,-4773019581999572651,2022-01-24 18:30:21,2022-01-24 18:44:43,3.740,862.0,18,0.260325
-7575630690398473489,-7575630690398473489,2022-01-24 06:53:53,2022-01-24 07:06:26,3.526,753.0,6,0.280956
-6264582368520213833,-6264582368520213833,2022-01-24 10:00:59,2022-01-24 10:15:58,5.071,899.0,10,0.338443
5964315354301636538,5964315354301636538,2022-01-24 14:28:05,2022-01-24 14:35:08,2.867,423.0,14,0.406667
1372379574816145639,1372379574816145639,2022-01-24 11:57:29,2022-01-24 12:06:29,3.751,540.0,11,0.416778
...,...,...,...,...,...,...,...
7096714159023973792,7096714159023973792,2022-01-24 21:10:38,2022-01-24 21:23:53,7.397,795.0,21,0.558264
-3836026425968071806,-3836026425968071806,2022-01-24 15:10:27,2022-01-24 15:20:21,1.948,594.0,15,0.196768
2926216435675216636,2926216435675216636,2022-01-24 13:57:04,2022-01-24 14:03:18,2.547,374.0,13,0.408610
-6677307480063489707,-6677307480063489707,2022-01-24 08:46:13,2022-01-24 08:55:34,3.013,561.0,8,0.322246
-4845695090750648713,-4845695090750648713,2022-01-24 14:57:46,2022-01-24 15:11:25,2.323,819.0,14,0.170183

In [125]:
train_df = pd.concat([df.groupby('Id')['node_start'].count(),
           df.groupby('Id')['distance'].mean(), order_copy['route_distance_km'], order_copy['day_time'], order_copy['delta_time']], axis=1)

In [126]:
train_df

,node_start,distance,route_distance_km,day_time,delta_time
Id,,,,,
-9220688251826578095,83,36.177945,3.179,23,469.0
-9218029690111550526,110,51.178833,6.137,20,688.0
-9203204462098983368,156,35.889595,6.312,22,683.0
-9183832189489697758,129,39.080716,6.379,22,885.0
-9182793427449706037,78,31.138847,2.551,17,612.0
...,...,...,...,...,...
9210081165830935160,161,35.052090,5.520,22,753.0
9210110364218727646,99,30.392428,3.146,20,462.0
9210371713303339999,95,49.404830,4.038,5,607.0
9211624789772099086,45,25.116555,1.641,20,223.0
9222286614781517942,49,48.753847,2.489,18,368.0

In [130]:
train_df = pd.concat([df.groupby('Id')['node_start'].count(), df.groupby('Id')['speed_x'].mean(),
           df.groupby('Id')['distance'].mean(), order_copy['route_distance_km'], order_copy['day_time'], order_copy['delta_time']], axis=1)

In [133]:
train_df

,node_start,speed_x,distance,route_distance_km,day_time,delta_time
Id,,,,,,
-9220688251826578095,83,25.987952,36.177945,3.179,23,469.0
-9218029690111550526,110,29.945455,51.178833,6.137,20,688.0
-9203204462098983368,156,33.336538,35.889595,6.312,22,683.0
-9183832189489697758,129,35.449612,39.080716,6.379,22,885.0
-9182793427449706037,78,24.269231,31.138847,2.551,17,612.0
...,...,...,...,...,...,...
9210081165830935160,161,33.754658,35.052090,5.520,22,753.0
9210110364218727646,99,30.095960,30.392428,3.146,20,462.0
9210371713303339999,95,40.777778,49.404830,4.038,5,607.0
9211624789772099086,45,24.155556,25.116555,1.641,20,223.0
9222286614781517942,49,30.775510,48.753847,2.489,18,368.0

In [134]:
X = train_df.drop(columns=['delta_time']).to_numpy()
y = train_df['delta_time'].to_numpy()

In [136]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [137]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [138]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape # Only for training on a non-complete

((4000, 5), (1000, 5), (4000,), (1000,))

In [26]:
from sklearn.model_selection import GridSearchCV

In [31]:
RFR = RandomForestRegressor()
param_grid = {'n_estimators': [64, 96, 128, 160, 192, 224, 256], 'max_depth': [3, 5, 7, 9, 11, 13]}
grid_search = GridSearchCV(estimator=RFR, param_grid=param_grid)
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
best_score = grid_search.best_score_

y_pred = grid_search.predict(X_val)

MSE = mean_squared_error(y_val, y_pred)
MAE = mean_absolute_error(y_val, y_pred)

print(f"Best: {best_params}, {best_score}. Result: MAE = {MAE}, RMSE = {np.sqrt(MSE)}")

Best: {'max_depth': 9, 'n_estimators': 128}, 0.6520170370044132. Result: MAE = 97.93799407620948, RMSE = 128.89201053351704

In [141]:
RFR = RandomForestRegressor(n_estimators=128, max_depth=7)

RFR.fit(X_train, y_train)

y_pred = RFR.predict(X_val)

MSE = mean_squared_error(y_val, y_pred)
MAE = mean_absolute_error(y_val, y_pred)

print(f"Best: {128, 9}, {best_score}. Result: MAE = {MAE}, RMSE = {np.sqrt(MSE)}")

Best: (128, 9), 0.6520170370044132. Result: MAE = 99.18708483122677, RMSE = 129.8706033176287

# Final Test

In [149]:
import pred_mod

In [150]:
final_test_df = pd.read_csv('final_test.csv')
nodes_test_df = pd.read_csv('nodes_test.csv')

In [151]:
t_df = pred_mod.prepare_data(final_test_df, nodes_test_df)

In [152]:
RFR

RandomForestRegressor(max_depth=7, n_estimators=128)

In [153]:
pd.DataFrame(pred_mod.predict_RFR(t_df, RFR), columns=['Predicted']).to_csv('pred2_df.csv')

In [154]:
import joblib

In [91]:
joblib.dump(RFR, "./random_forest.joblib")

['./random_forest.joblib']

# Train on a full DataSet

In [156]:
RFR = RandomForestRegressor(n_estimators=128, max_depth=7)
RFR.fit(X, y)

RandomForestRegressor(max_depth=7, n_estimators=128)

In [157]:
joblib.dump(RFR, "./random_forest_final.joblib")

['./random_forest_final.joblib']